html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1.5;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
table,
td,
th {
  vertical-align: middle;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a img {
  border: none;
}
html,
body {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  *position: absolute;
}
body {
  font-size: 62.5%;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  background-color: white;
  background-color: #ebebf1;
  background-image: -moz-linear-gradient(top, #ffffff, #ccccdd);
  background-image: -ms-linear-gradient(top, #ffffff, #ccccdd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ccccdd));
  background-image: -webkit-linear-gradient(top, #ffffff, #ccccdd);
  background-image: -o-linear-gradient(top, #ffffff, #ccccdd);
  background-image: linear-gradient(top, #ffffff, #ccccdd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ccccdd', GradientType=0);
}
body.with-js .if-no-js {
  display: none;
}
p,
div,
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input::-moz-focus-inner {
  border: 0;
}
a {
  outline: 0;
}
pre {
  white-space: pre-wrap;
  /* css-3 */

  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */

  white-space: -pre-wrap;
  /* Opera 4-6 */

  white-space: -o-pre-wrap;
  /* Opera 7 */

  word-wrap: break-word;
  /* Internet Explorer 5.5+ */

  text-align: left;
}
.mono {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
.hidden {
  display: none;
}
.pgp {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 0.8em;
  font-style: italic;
}
input.submit {
  background-color: #579181;
  color: #fff2e2;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.3em 0.7em;
  margin: 0.3em 0.7em;
  outline: 0;
  border: 1px solid #41576e;
  -webkit-box-shadow: 0px 0px 3px 3px #41576e;
  -moz-box-shadow: 0px 0px 3px 3px #41576e;
  box-shadow: 0px 0px 3px 3px #41576e;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  min-width: 8.5em;
  font-size: 0.9em;
}
input.submit:focus,
input.submit:hover {
  color: #000;
  border: 1px solid #1b242e;
  -webkit-box-shadow: 0px 0px 3px 3px #1b242e;
  -moz-box-shadow: 0px 0px 3px 3px #1b242e;
  box-shadow: 0px 0px 3px 3px #1b242e;
  background-color: #91bdb1;
  cursor: pointer;
}
input.text,
input.password,
input.email {
  width: 20em;
  background-color: #fff2e2;
  padding: 0.4em 0.5em;
  margin: 0.4em 0.5em;
  outline: 0;
  border: 1px solid #41576e;
  -webkit-box-shadow: 0px 0px 3px 3px #41576e;
  -moz-box-shadow: 0px 0px 3px 3px #41576e;
  box-shadow: 0px 0px 3px 3px #41576e;
}
input.text:focus,
input.password:focus,
input.email:focus,
input.text:hover,
input.password:hover,
input.email:hover {
  border: 1px solid #1b242e;
  -webkit-box-shadow: 0px 0px 3px 3px #1b242e;
  -moz-box-shadow: 0px 0px 3px 3px #1b242e;
  box-shadow: 0px 0px 3px 3px #1b242e;
}
input.email.bad {
  border: 1px solid #cd2017;
  -webkit-box-shadow: 0px 0px 3px 3px #cd2017;
  -moz-box-shadow: 0px 0px 3px 3px #cd2017;
  box-shadow: 0px 0px 3px 3px #cd2017;
}
header {
  width: 100%;
  font-size: 2em;
  line-height: 3;
  background-color: #555555;
  background-color: #4d4d4d;
  background-image: -moz-linear-gradient(top, #2f2f2f, #7b7b7b);
  background-image: -ms-linear-gradient(top, #2f2f2f, #7b7b7b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f2f2f), to(#7b7b7b));
  background-image: -webkit-linear-gradient(top, #2f2f2f, #7b7b7b);
  background-image: -o-linear-gradient(top, #2f2f2f, #7b7b7b);
  background-image: linear-gradient(top, #2f2f2f, #7b7b7b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#7b7b7b', GradientType=0);
  text-align: center;
}
header img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
header a {
  text-decoration: none;
  color: white;
  text-shadow: black 1px 1px 2px;
}
header a:hover {
  color: black;
  text-shadow: white 1px 1px 2px;
}
header .left {
  line-height: 1;
  position: absolute;
  top: 1em;
  left: 1em;
}
header .right {
  line-height: 1;
  position: absolute;
  top: 1em;
  right: 1em;
}
h1 {
  font-family: 'Times New Roman', Serif;
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 1em;
}
h2 {
  font-family: 'Times New Roman', Serif;
  font-size: 1.3em;
}
nav {
  font-size: 1.3em;
  min-width: 50em;
  max-width: 70em;
  width: 80%;
  margin: 2em auto;
  text-align: center;
}
nav a {
  text-decoration: none;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  border-radius: 0.75em;
  background-color: #579181;
  background-color: #579181;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 8em;
  padding: 0.3em 0;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #41576e;
  -webkit-box-shadow: 0px 0px 2px 2px #41576e;
  -moz-box-shadow: 0px 0px 2px 2px #41576e;
  box-shadow: 0px 0px 2px 2px #41576e;
  margin: 0 0.35em;
}
nav a:hover,
nav a:focus {
  background-color: #447165;
  border: 1px solid #1b242e;
  -webkit-box-shadow: 0px 0px 2px 2px #1b242e;
  -moz-box-shadow: 0px 0px 2px 2px #1b242e;
  box-shadow: 0px 0px 2px 2px #1b242e;
}
nav a.selected {
  background-color: #315148;
  border: 1px solid #080b0e;
  -webkit-box-shadow: 0px 0px 2px 2px #080b0e;
  -moz-box-shadow: 0px 0px 2px 2px #080b0e;
  box-shadow: 0px 0px 2px 2px #080b0e;
}
div.view {
  min-width: 50em;
  max-width: 70em;
  width: 80%;
  margin: 0 auto;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  border-radius: 0.75em;
  -webkit-box-shadow: 0px 0px 2px 2px #e8e8e8;
  -moz-box-shadow: 0px 0px 2px 2px #e8e8e8;
  box-shadow: 0px 0px 2px 2px #e8e8e8;
  background-color: #f8f8f8;
  padding: 2em;
  font-size: 1.4em;
  line-height: 1.5;
  text-align: center;
}
div.view p {
  text-align: left;
}
footer {
  text-align: center;
  margin: 1em 0;
}
